---
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = await Astro.glob('../posts/*.md');
const tags = Array.from(new Set(posts.flatMap((p) => p.frontmatter.tags || [])));
---

<BaseLayout pageTitle="All Tags">
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
