---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostItem from '../components/BlogPostItem.astro';
const posts = await Astro.glob('../pages/posts/*.md');
const sortedPosts = posts.sort((a, b) => (b.frontmatter.pubDate > a.frontmatter.pubDate ? -1 : 1));
const pageTitle = 'My Astro Learning Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ol>
    {
      sortedPosts.map(({ frontmatter, url }) => (
        <BlogPostItem url={url} title={frontmatter.title} />
      ))
    }
  </ol>

  <a href="/tags">Tags</a>

  <!-- <div>
    {posts.map((p) => <pre>{JSON.stringify(p, null, 2)}</pre>)}
  </div> -->
</BaseLayout>
