---
import { Button } from '@/components/ui/button';
import { MoonIcon, SunIcon } from 'lucide-react';
---

<Button variant="outline" size="icon" id="themeToggle">
  <MoonIcon className="moon" />
  <SunIcon className="sun" />
</Button>

<script is:inline>
  const setTheme = (theme) => window.localStorage.setItem('theme', theme);
  const theme = (() => {
    const savedTheme = localStorage?.getItem('theme');

    if (savedTheme) return savedTheme;
    if (window.matchMedia('prefers-color-scheme: dark').matches) return 'dark';
    if (window.matchMedia('prefers-color-scheme: light').matches) return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  setTheme(theme);

  const handleToggleClick = () => {
    const el = document.documentElement;
    el.classList.toggle('dark');

    const isDark = el.classList.contains('dark');
    const theme = isDark ? 'dark' : 'light';
    setTheme(theme);
  };

  document.getElementById('themeToggle').addEventListener('click', handleToggleClick);
</script>
